<div class="well">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-10">
      <h2>{{title}}</h2>
    </div>
  </div>
  <form class="form-horizontal" role="form">
    {{yield}}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-lg btn-default" {{action "save"}}> OK </button>
        <button type="button" class="btn btn-lg btn-default" {{action "cancel"}}> Cancel </button>
      </div>
    </div>
  </form>
</div>